In [1]:
import pandas as pd
from IPython.display import display
from mlxtend.preprocessing import TransactionEncoder
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
te=TransactionEncoder()
data=te.fit(dataset).transform(dataset,sparse=True)
df=pd.SparseDataFrame(data,columns=te.columns_,default_fill_value=False)
display(df)

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [2]:
####频繁集的确定from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import apriori
frequent_items=apriori(df, min_support=0.6, use_colnames=True)
frequent_items['len']=frequent_items['itemsets'].apply(lambda x:len(x))
display(frequent_items)

    support                     itemsets  len
0       0.8                       (Eggs)    1
1       1.0               (Kidney Beans)    1
2       0.6                       (Milk)    1
3       0.6                      (Onion)    1
4       0.6                     (Yogurt)    1
5       0.8         (Kidney Beans, Eggs)    2
6       0.6                (Onion, Eggs)    2
7       0.6         (Kidney Beans, Milk)    2
8       0.6        (Kidney Beans, Onion)    2
9       0.6       (Kidney Beans, Yogurt)    2
10      0.6  (Kidney Beans, Onion, Eggs)    3

In [3]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_items)
display(rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
7,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf